<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	

<div th:fragment="sidebar">
<section class="navbar-main" >
 
         <header>
        Menu
      </header>
    <nav class="sidebar-nav">
 
      <ul>
        <li>
          <a href="taylor-profile.html" th:href="@{/taylor-profile}"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li >
          <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <span class="nav-menus">Stores</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Derps</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Times</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Hates</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Beat</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-laptop"></i> <span class="nav-menus">AI Controls</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Watch</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Creeper</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Hate</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Grinder</a>
            </li>
          </ul>
        </li>
        <li>
              <a href="update-profile.html" th:href="@{/user-profile}"><i class="fa fa-book"></i> <span>Profiles</span></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-envelope"></i> <span class="">Clients</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Available Clients</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Client's Feedback</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Client's ranking</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> On Lock</a>
            </li>
             <li>
              <a href="#"><i class="fa fa-circle-o"></i> Ghostface</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-pie-chart"></i> <span class="">Performance charts</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Timers</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> You Lose</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Stormy</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Lookie Look</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Dork Mfer</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-edit"></i> <span class="">Handbook</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> File Cab</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Infos</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Planes</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Shop</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-calendar"></i> <span class="">Calendar</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Burn</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Bulbs</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Where You</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> On Lock</a>
            </li>
             <li>
              <a href="#"><i class="fa fa-circle-o"></i> Ghostface</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-share"></i> <span class="">Share</span></a>
        </li>
      </ul>
    </nav>

</section>

</div>



</html>