

<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication forms">
    <meta name="author" content="Arasari Studio">

    <title>Mentee</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"th:href="@{/assets/css/bootstrap.min.css}">
    <link href="../static/css/common.css" rel="stylesheet"th:href="@{/assets/css/common.css}">

    
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
<link href="../static/css/theme-02.css" rel="stylesheet" th:href="@{/assets/css/theme-02.css}">

</head>

<body style="background: url(images/bg1.jpg) no-repeat center center; background-size: cover; bg-color:black;">
    <div class="forny-container" style="background: url(images/bg1.jpg) no-repeat center center; background-size: cover; bg-color:black;">
        
<div class="forny-inner">
    <div class="mb-8 forny-logo" style="width: 900px; margin-top: 50px;">
        <img src="images/UBA.png" style="width: 90px; height: 70px;float: right; margin-right:50px;">
        <br><br>
    </div>
    <div class="forny-form">
        <form method="POST" th:action="@{/mentee}"  th:object="${menteeForm}">
            <div class="text-center">
            <h4>Mentee's Form</h4>
            <p class="mb-10">Setup your profile in a minute.</p>
        </div>

            
    <div class="form-group">
        
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <img src="images/user.svg" width="24" height="24">
                </span>
            </div>
            
    <input required  class="form-control" name="EmplID" type="text"
    placeholder="Employee ID">

        </div>
    </div>
    
<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <img src="images/user.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="surname" type="text"
placeholder="Surname">

</div>
</div>
<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <img src="images/user.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="firstname" type="text"
placeholder="Firstname">

</div>
</div>


    
<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        <img src="images/phone.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="phone" type="text"
placeholder="Phone No">

</div>
</div>
<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            <img src="images/user.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="email" type="text"
placeholder="Email Address">

</div>
</div>

<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
        
        <img src="images/dept.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="department" type="text"
placeholder="Department">

</div>
</div>
<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
     <span class="input-group-text">
        
        <img src="images/grade.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="Grade" type="text"
placeholder="Grade Level">

</div>
</div>
<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
            
        <img src="images/years.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="yearsofwork" type="number"
placeholder="No of Years in the Bank">

</div>
</div>
<div class="form-group">

<div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text">
           <img src="images/lang.svg" width="24" height="24">
        </span>
    </div>
    
<input required  class="form-control" name="language" type="text"
placeholder="Language Spoken">

</div>
</div>
    <div class="text-center">
    <h4>Commitment</h4>
    <label>I am able to attend, at least, one mentoring session every month (physically or virtually): </label>
    </div>       
    <div class="form-group">
        
        <div class="input-group">
        
            <div class="input-group-prepend">
            
                <span class="input-group-text">
                    <img src="images/select.png" width="24" height="24">
                </span>
            </div>
    
    <select required  class="form-control" name="menteesession" 
    placeholder="---">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
    </select>

        </div>
    </div>
 <label>Do you have previous/past mentoring experience?.  </label>        
    <div class="form-group">
        
        <div class="input-group">
        
            <div class="input-group-prepend">
            
                <span class="input-group-text">
                   <img src="images/select.png" width="24" height="24">
                </span>
            </div>
    
    <select required  class="form-control" name="menteepast" 
    placeholder="---">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
    </select>

        </div>
    </div>
             
    <div class="form-group">
        
        <div class="input-group">
        
            <div class="input-group-prepend">
            
                <span class="input-group-text">
                    <img src="images/documents.svg" width="24" height="24">
                </span>
            </div>
    
    <textarea  class="form-control" name="menteepastcomments" 
    placeholder="---" style="height:150px;">
    What are mentoring goals I would like to achieve:
    </textarea>

        </div>
    </div>
<div class="form-group">
        
        <div class="input-group">
        
            <div class="input-group-prepend">
            
                <span class="input-group-text">
                    <img src="images/documents.svg" width="24" height="24">
                </span>
            </div>
    
    <textarea  class="form-control" name="hobbies" 
    placeholder="Hobbies">
    
    </textarea>

        </div>
    </div>

            <div>
                <button class="btn btn-primary btn-block"style="background-color:red;">Register</button>
            </div>

            <div class="line mt-10 mb-4">
                <span>or </span>
            </div>

            <div class="text-center">
                <div class="d-inline-block mr-4">
                    
    <button class="btn btn-icon btn-flat text-facebook">
        
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:currentColor;}.b{fill:#fff;}</style>
    </defs>
    <path class="a" d="M29,24.068a4.928,4.928,0,0,1-4.927,4.927H9.932A4.926,4.926,0,0,1,5,24.068V9.932A4.933,4.933,0,0,1,9.932,5h14.14A4.932,4.932,0,0,1,29,9.932Z" transform="translate(-5 -5)"/>
    <path class="b" d="M212.907,72.145h2.338V68.7h-3.5a4.885,4.885,0,0,0-3.605,1.661s-.957.845-.972,3.327h0v2.589H203.7v3.662h3.466V89.4h3.993V79.935h3.435l.481-3.662h-3.916V73.684h0A1.548,1.548,0,0,1,212.907,72.145Z" transform="translate(-195.062 -65.401)"/>
</svg>
    </button>

                </div>
                <div class="d-inline-block mr-4">
                    
    <button class="btn btn-icon btn-flat text-google">
        
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:currentColor;}.b{fill:#fff;}</style>
    </defs>
    <g transform="translate(0)">
        <path class="a" d="M29,23.468A4.932,4.932,0,0,1,24.073,28.4H9.932A4.933,4.933,0,0,1,5,23.468V9.327A4.929,4.929,0,0,1,9.932,4.4h14.14A4.928,4.928,0,0,1,29,9.327Z" transform="translate(-5 -4.4)"/>
        <g transform="translate(2.564 5.898)">
            <path class="b" d="M68.8,130.8H62.99v2.076H66.47a3.739,3.739,0,1,1-3.525-5.019,3.669,3.669,0,0,1,2.371.868h.1l1.533-1.558a5.891,5.891,0,0,0-4-1.568,6.045,6.045,0,0,0,0,12.088,5.847,5.847,0,0,0,3.628-1.247,6.05,6.05,0,0,0,1.647-1.987,6.179,6.179,0,0,0,.478-1.237,6.36,6.36,0,0,0,.1-1.622C68.8,131.329,68.8,131.067,68.8,130.8Z" transform="translate(-57 -125.6)"/>
            <rect class="b" width="1.745" height="5.206" transform="translate(15.318 3.421)"/>
            <rect class="b" width="5.206" height="1.74" transform="translate(13.588 5.157)"/>
        </g>
    </g>
</svg>
    </button>

                </div>
                <div class="d-inline-block mr-4">
                    
    <button class="btn btn-icon btn-flat text-twitter">
        
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:currentColor;}.b{fill:#fff;}</style>
    </defs>
    <path class="a" d="M29,24.073A4.929,4.929,0,0,1,24.068,29H9.932A4.932,4.932,0,0,1,5,24.073V9.932A4.933,4.933,0,0,1,9.932,5H24.073A4.932,4.932,0,0,1,29,9.932Z" transform="translate(-5 -5)"/>
    <path class="b" d="M89.322,125.824c6.142,0,9.5-4.28,9.5-7.991,0-.12,0-.241-.01-.361a6.2,6.2,0,0,0,1.664-1.456,7.589,7.589,0,0,1-1.917.441,2.979,2.979,0,0,0,1.469-1.552,7.445,7.445,0,0,1-2.122.682,3.652,3.652,0,0,0-2.437-.887,3.108,3.108,0,0,0-3.338,2.808,2.407,2.407,0,0,0,.086.642,10.174,10.174,0,0,1-6.882-2.936,2.466,2.466,0,0,0-.453,1.412,2.718,2.718,0,0,0,1.488,2.339,3.789,3.789,0,0,1-1.512-.353v.036a2.979,2.979,0,0,0,2.675,2.752,3.891,3.891,0,0,1-.877.1,4.063,4.063,0,0,1-.629-.052,3.323,3.323,0,0,0,3.119,1.954,7.779,7.779,0,0,1-4.945,1.163,10.85,10.85,0,0,0,5.122,1.26" transform="translate(-80.086 -108.059)"/>
</svg>
    </button>

                </div>
            </div>

            <div class="text-center mt-10">
                Already have an account? <a href="login"  th:href="@{/login}" >Login here</a>
            </div>
        </form>
    </div>
</div>
<br><br><br>
    </div>

    <script src="../static/js/jquery.min.js"   th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>
    
    
</body>

</html>