

<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication forms">
    <meta name="author" content="Arasari Studio">

    <title>Sign Up</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"th:href="@{/assets/css/bootstrap.min.css}">
    <link href="../static/css/common.css" rel="stylesheet"th:href="@{/assets/css/common.css}">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    <link href="../static/css/theme-02.css" rel="stylesheet" th:href="@{/assets/css/theme-02.css}">

</head>

<body style="background: url(images/bg2.jpg) no-repeat center center; background-size: cover; bg-color:black;">
<div class="forny-container"  style="background: url(images/bg4.jpg) no-repeat center center; background-size: cover; bg-color:black;">

<div class="forny-inner">
        <div class="forny-two-pane">
            <div>
                <div class="forny-form" style="margin-top: 100px; margin-bottom:100px;">
                    <div class="mb-8 forny-logo" style="align-content: flex-end;">
                        <img src="images/UBA.png">
                    </div>
                    <div>
                        <h4>Profile Selection</h4>
                        <p class="mb-10">Kindly select your profile below.</p>
                    </div>
                    <form>

                        <div class="form-group">

                            <div class="input-group">



                                <a class="btn btn-primary btn-block" href="/mentor"style="color:white; background-color:red;">Register As a Mentor</a>

                            </div>
                        </div>


                        <div class="form-group password-field">

                            <div class="input-group">


                                <a class="btn btn-primary btn-block" href="/mentee" style="color:white; background-color:red;">Register As a Mentee</a>

                            </div>
                        </div>


                    </form>
                </div>
            </div>
            <div></div>
        </div>

    </div>

</div>

<script src="../static/js/jquery.min.js"   th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="../static/js/demo.js" th:src="@{/js/demo.js}"></script>

</body>

</html>