<html xmlns="http://www.w3.org/1999/xhtml" 
          xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="layouts/default-layout :: head">


<title>Product</title>
 
</head>
<body>

<!-- Menu -->

<div class="menu" th:replace="layouts/menu-layout :: div"></div>
<div class="super_container">

    <header class="main-header" th:replace="layouts/header-layout :: header">  
    </header>
    
  

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->
		

				<div class="home_content text-center">
					<div class="home_title">Product Page</div>
					<div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
						<ul class="d-flex flex-row align-items-start justify-content-start text-center">

						</ul>
					</div>
				</div>
				<br><br>
				
		
		 
		 	<div class="sideycon" >
		 					
				<div  class="sidenav" th:include="layouts/sidebar-layout :: div"></div>
             
             	<div class="sidebody" >
             		<center>
             		<div style="border:1px solid blue; padding:8px; border-radius:4px; margin-right:10px;">
             		<span><b> Click <a href="">here</a> to update profile </b></span>
             
             		</div>
             		</center>
            		<br><br>
            
            		<h4 style="color:blue;"><b>Profile</b></h4>
            		<table cellpadding="10px" cellspacing="10px" class="Profiletable">
            		<tr>
            		<td><b>Surname:</b></td>
            		<td>Oghenovo</td>
            		<td style="margin-left:10px;"><b>Job Roles:</b></td>
            		<td>Tailor</td>
            		</tr>
            		<tr>
            		<td><b>Firstname:</b></td>
            		<td style="margin-left:10px;">Oghenemaro</td>
            		<td><b>Status:</b></td>
            		<td><img src="images/iconfinder_status_46254.png"> Active</td>
            		</tr>
            		<tr>
            		<td><b>Sex:</b></td>
            		<td style="margin-left:10px;">Male</td>
            		<td><b>Personal Home Address:</b></td>
            		<td>12 Shonike Str, Apapa, Lagos State.</td>
            		</tr>
            		<tr>
            		<td><b>Date Of Birth:</b></td>
            		<td style="margin-left:10px;">01/02/1991</td>
            		<td><b>Phone No:</b></td>
            		<td>+234 816-663-7303</td>
            		<tr>
            		</table>
            		<center>
             <div class="row">
                   <div class="col-sm-4 col-md-4 user-details">
            <div class="user-image">
                <img src="http://www.gravatar.com/avatar/2ab7b2009d27ec37bffee791819a090c?s=100&d=mm&r=g" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>Karan Singh Sisodia</h3>
                    <span class="help-block">Chandigarh, IN</span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="fa fa-user-o" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            <span class="fa fa-pencil" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#email">
                            <span class="fa fa-envelope-open-o" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#events">
                            <span class="fa fa-calendar" style="height:20px;"></span>
                        </a>
                    </li>
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="information" class="tab-pane active">
                            <h4>Account Information</h4>
                        </div>
                        <div id="settings" class="tab-pane">
                            <h4>Settings</h4>
                        </div>
                        <div id="email" class="tab-pane">
                            <h4>Send Message</h4>
                        </div>
                        <div id="events" class="tab-pane">
                            <h4>Events</h4>
                        </div>
                    </div>
                </div>
            </div>
            </center>
            
        </div>
          </div>

             
             	</div>
             
			</div>
		<!-- Product -->
		
  
		
		<!-- Footer -->

	<footer class="footer" th:replace="layouts/footer-layout :: footer" ></footer>
	</div>
		
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/flexslider/jquery.flexslider-min.js"></script>
<script src="js/product.js"></script>
</body>
</html>